* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
}

/* whats the grind exposures starts */
.introduction {

    margin: 50px 0px;
}

.introduction h1 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 16px;
    color: #241E12;
    font-weight: bold;
}

.introduction p {
    text-align: center;
    line-height: 2rem;
    font-size: 1.25rem;
    color: #241e12;
    padding-bottom: 64px;
    font-weight: normal;
}

.idol {
    padding-bottom: 100px;
}

.idol_text {
    width: 45%;
}

.idol h2 {
    text-align: left;
    font-size: 34px;
    color: #FF424D;
    margin: 8px 0px;
    font-weight: bold;
    margin-left: 96px;
    font-family: 'helvetica';
    font-weight: bold;
}

.idol p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0;
    margin: 8px 0px;
    margin-left: 96px;
    font-family: 'helvetica';
    font-weight: normal;
}

.image_details {}

.image_details img {
    width: 100%;
}

.image_content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 0px;
}

.image_content a {
    text-decoration: none;
    color: #241E12;
    font-family: 'helvetica';
    transition: .2s all ease-in-out;
}

.image_content a:hover {
    text-decoration: underline #FF424D;
}

.image_content i {
    margin-left: 20px;
    color: #ff424d;
    font-size: 25px;
}

.image_details p {
    margin: 0;
    margin: 8px 0px;
    font-size: 16px;
    color: #241E12;
    font-family: 'helvetica';
    font-weight: normal;
}

.idol_text2responsive {
    display: none;
}

.idol_text2 {}

.idol_text2 h2 {
    margin: 0;
}

.idol_text2 p {
    margin: 0;
}

.image_details2 {
    margin-left: 96px;
}

/* whats the grind exposures ends */

/* who using the grind exposures start */
.users {
    padding-bottom: 100px;
}

.users h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 16px;
    color: #241E12;
    font-weight: bold;
}

.users p {
    text-align: center;
    line-height: 2rem;
    font-size: 1.25rem;
    color: #241e12;
    padding-bottom: 64px;
    font-weight: normal;
}

.user_images {}

.image1 {
    padding-top: 10%;
}

.image_names {}

.image_names ul {
    margin-left: 60px;
}

.image_names ul li {
    list-style: none;
    padding: 8px 0px;
}

.image_names ul li a {
    text-decoration: none;
    font-size: 26px;
    color: #a9a49a;
    font-weight: 700;
    font-family: 'helvetica';
    transition: .2s all ease-in-out;
}

.image_names ul li a:hover {
    text-decoration: underline #000;
    color: #000;
}

.hover_images {
    margin-top: 60px;
    position: relative;
    width: 100%;
    min-height: 500px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat !important;
    background: url(../images/rugby.jpg);
}



/* who using the grind exposures ends */

/* packages starts*/
.packages {
    padding: 100px 0px;
}

.package_shadow {
    box-shadow: 0 0 20px 7px #00000029;
}

.packages h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 16px;
    color: #241E12;
    font-weight: bold;
}

.packages p {
    text-align: center;
    font-size: 1.25rem;
    color: #241e12;
    padding-bottom: 56px;
    font-weight: normal;
}

.banner {
    position: relative;
}

.package_list {}

.cover {}

.cover img {}

.profile {}

.profile img {
    position: absolute;
    left: 49%;
    transform: translateX(-49%);
    top: 65px;
    /* width: 500px;
    height: 500px;
    border-radius: 50%; */
}

.package_list h2 {
    text-align: center;
    font-size: 42px;
    color: #241E12;
    font-weight: bold;
    margin-top: 50px;
    padding-bottom: 0;
}

.package_list p {
    text-align: center;
    font-size: 1.25rem;
    color: #241e12;
    padding-bottom: 56px;
    font-weight: normal;
}

.package_chart {
    padding-bottom: 30px;
}

.chart {
    border: 1px solid #b1aca3;
    padding: 10px;
    width: 75%;
    margin: auto;
    
}

.name {
    background-color: #ff424d;
    padding: 5px 30px;
    text-align: center;
    color: #fff;
    font-family: 'helvetica';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.price {

    padding: 20px;

    background-color: #f8f7f5;
}

.price p {
    text-align: center;
    color: #241e12;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}

.option {
    padding: 20px 30px;
    font-family: 'Open Sans', sans-serif;
}

.option ul {}

.option ul li {
    list-style: square;
    color: #b1aca3;
}

.option ul li p {
    text-align: left;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-bottom: 5px;
}

/* packages ends */